HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
learning-center-platform/.gitattributes
learning-center-platform/mvnw
learning-center-platform/mvnw.cmd
learning-center-platform/pom.xml
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/application/internal/commandservices/RoleCommandServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/application/internal/eventhandlers/ApplicationReadyEventHandler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/application/internal/queryservices/RoleQueryServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/model/command/SeedRolesCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/model/entities/Role.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/model/queries/GetAllRolesQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/model/queries/GetRoleByNameQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/model/valueobjects/Roles.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/services/RoleCommandService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/domain/services/RoleQueryService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/infrastructure/RoleRepository.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/interfaces/rest/resources/RoleResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/interfaces/rest/RolesController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/iam/interfaces/rest/transform/RoleResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/commandservices/CourseCommandServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/commandservices/EnrollmentCommandServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/commandservices/StudentCommandServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/eventhandlers/TutorialCompletedEventHandler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/outboundservices/acl/ExternalProfileService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/queryservices/CourseQueryServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/queryservices/EnrollmentQueryServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/application/internal/queryservices/StudentQueryServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/exceptions/CourseNotFoundException.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/exceptions/EnrollmentNotFoundException.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/exceptions/EnrollmentRequestException.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/exceptions/StudentNotFoundException.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/aggregates/Course.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/aggregates/Enrollment.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/aggregates/Student.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/AddTutorialToCourseLearningPathCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/CancelEnrollmentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/CompleteTutorialForEnrollmentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/ConfirmEnrollmentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/CreateCourseCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/CreateStudentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/DeleteCourseCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/RejectEnrollmentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/RequestEnrollmentCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/UpdateCourseCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/commands/UpdateStudentMetricsOnTutorialCompletedCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/entities/LearningPathItem.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/entities/ProgressRecordItem.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/events/TutorialCompletedEvent.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/ExistsByAcmeStudentRecordIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetAllCoursesQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetAllEnrollmentsByAcmeStudentRecordIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetAllEnrollmentsByCourseIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetAllEnrollmentsQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetCourseByIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetEnrollmentByAcmeStudentRecordIdAndCourseIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetEnrollmentByIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetLearningPathItemByCourseIdAndTutorialIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetStudentByAcmeStudentRecordIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/queries/GetStudentByProfileIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/AcmeStudentRecordId.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/EnrollmentStatus.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/LearningPath.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/ProfileId.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/ProgressRecord.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/ProgressStatus.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/StudentPerformanceMetricSet.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/model/valueobjects/TutorialId.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/CourseCommandService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/CourseQueryService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/EnrollmentCommandService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/EnrollmentQueryService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/StudentCommandService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/domain/services/StudentQueryService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/infrastructure/persistence/jpa/repositories/CourseRepository.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/infrastructure/persistence/jpa/repositories/EnrollmentRepository.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/infrastructure/persistence/jpa/repositories/StudentRepository.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/CourseLearningPathController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/CoursesController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/EnrollmentsController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/CourseResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/CreateCourseResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/CreateStudentResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/EnrollmentResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/LearningPathItemResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/RequestEnrollmentResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/StudentResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/resources/UpdateCourseResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/StudentEnrollmentsController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/StudentsController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/CourseResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/CreateCourseCommandFromResourceAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/CreateStudentCommandFromResourceAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/EnrollmentResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/LearningPathItemResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/RequestEnrollmentCommandFromResourceAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/StudentResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/learning/interfaces/rest/transform/UpdateCourseCommandFromResourceAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/LearningCenterPlatformApplication.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/application/acl/ProfilesContextFacadeImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/application/internal/commandservices/ProfileCommandServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/application/internal/queryservices/ProfileQueryServiceImpl.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/aggregates/Profile.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/commands/CreateProfileCommand.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/queries/GetAllProfilesQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/queries/GetProfileByEmailQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/queries/GetProfileByIdQuery.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/valueobjects/EmailAddress.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/valueobjects/PersonName.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/model/valueobjects/StreetAddress.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/services/ProfileCommandService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/domain/services/ProfileQueryService.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/infrastructure/persistence/jpa/repositories/ProfileRepository.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/acl/ProfilesContextFacade.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/rest/ProfilesController.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/rest/resources/CreateProfileResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/rest/resources/ProfileResource.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/rest/transform/CreateProfileCommandFromResourceAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/profiles/interfaces/rest/transform/ProfileResourceFromEntityAssembler.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/shared/domain/model/aggregates/AuditableAbstractAggregateRoot.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/shared/domain/model/entities/AuditableModel.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/shared/infrastructure/documentation/openapi/configuration/OpenApiConfiguration.java
learning-center-platform/src/main/java/com/acme/learning/center/platform/shared/interfaces/rest/resource/MessageResource.java
learning-center-platform/src/main/resources/application.properties
learning-center-platform/src/test/java/com/acme/learning/center/platform/LearningCenterPlatformApplicationTests.java
